<div class="row">
    <div class="col-md-6">
        <h2>Contrived Search Box Example</h2>
        <p>As soon as the search box contains the word <em>And</em>, the below search boxes should disable. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <div id="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mainSearch">Main Search Box</label>
                        <input type="text" class="form-control main" id="mainSearch" placeholder="main search form" [(ngModel)]="searchCriteria">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="and1">First AND term</label>
                        <input type="text" class="form-control and" id="and1" placeholder="AND term #1" [disabled]="disallowAndTermEntry">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="and2">Second AND term</label>
                        <input type="text" class="form-control and" id="and2" placeholder="AND term #2" [disabled]="disallowAndTermEntry">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="and3">Third AND term</label>
                        <input type="text" class="form-control and" id="and3" placeholder="AND term #3" [disabled]="disallowAndTermEntry">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>